body,
body *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: top;
}


:root{

    --widht: 1000px;
    --issiputimas1: 40px;
    --issiputimas2: 60px;
}

body{
    
    font-family: 'IBM Plex Mono', monospace;
    background-color: rgb(177, 168, 168);
    background-image:url(./fonasa.jpg);  
    background-position: cover;
    background-repeat: no-repeat;

}

main{

    display: inline-block;
    
    width: var(--widht);
    margin-top: 100px;
    margin-left: calc((100% - var(--widht)) / 2);



}

.left-column {
    width: 40%;
    float: left;
    padding: var(--issiputimas1);
    margin-top: 30px;
    background-color: black;
    background-image: url(./sign_up.jpg);
    background-size: 110%;
    background-position: center center;
    height: 480px;
    
}
.left-column:hover{

    background-size: 110% ;
    background-position: center center;
    animation: shrink 5s infinite alternate;
  }
  @keyframes shrink {
    0% {
      background-size: 110% ;
    }
    100% {
      background-size: 100% ;
    }
  
}

.main-title
{
    color: #ffffff;
    -webkit-text-stroke: 0.01px #071dac;
    display: inline-block;
    width: 100%;
    font-size: 70px;
    font-weight:900;
    padding-bottom: 320px;

}



.symbol {
    color: aliceblue;
}

.bottom-links{

    color: aliceblue;
    display: inline-block;
    width: 100%;
/* 
    kazkokios pyzda */

}

.link{

    color: aliceblue;
    font-size: 14px;
}
    

.right-column{
    border-radius: 10px;
    background-color:#ffffff;
    width: 60%;
    padding: var(--issiputimas2);
    float: left;
    position: relative;

}





.btn{
        display: inline-block;
        width: 30%;
        height: 40px;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 20px;
        font-weight: bold;
        background-color: rgb(25, 28, 179);
        text-decoration: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: aliceblue;
        text-shadow: 20px gray;
        border-radius: 25px;
        border: 2px rgb(24, 33, 160);
        box-shadow:  
        5px 5px 10px rgb(17, 8, 97),
        -5px -5px 10px rgba(70, 70, 70, 0.12);  
    
    }

.btn:hover{
        padding: 30px;
        padding-top: 10px;
        padding-bottom: 15px;
        background-color: rgb(102, 3, 89);
        border: 2px rgb(102, 3, 89);
        box-shadow:  
        -5px -5px 10px rgb(102, 3, 89),
        5px 5px 10px rgba(70, 70, 70, 0.12); 
        cursor: pointer;
    
}

.close{

    background-color: #ffffff;
    text-align: center;
    position: absolute;
    line-height: 34px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    top: 0px;
    right: 0px;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;

}
.close:hover{
    
    border: 1px solid #071dac;
}

samp{
    font-size: 20px;
}
.right-column samp{
    display: inline-block;
    color: black;
    padding: 10px;
    line-height: 20px;
    margin-left: 15px;

}

.right-column a{
    
    display: inline-block;
    color: black;
    padding: 10px;
    line-height: 20px;
    text-decoration: none;
    }

    .right-column a:hover{

        color: rgb(102, 3, 89) ;
        text-decoration: underline;
    } 